.cart-step {
	display: flex;
	align-items: center;
	max-width: fit-content;
	color: #EDEEF2;
}
.cart-step__label {
	display: flex;
	/* gap: 15px; */
	position: relative;
}
.cart-step__box-text {
	/* flex: 1 auto; */
	font-family: main;
	font-size: 32px;
	line-height: calc(36 / 26 * 100%);
}

@media(max-width: 920px) {
	.cart-step {
		flex-direction: column;
		align-items: flex-start;
	}
	.cart-step__label {
		/* margin-bottom: 24px; */
	}
	.cart-step__box-text {
		margin-left: 0;
	}
}

@media(max-width: 500px) {
	.cart-step__box-text {
		font-size: 20px;
	}
}