.Slider {
  /* max-height: 627px; */
}

.slick-dots li button:before {
  content: '';
  font-size: 0px;
  line-height: 0px;
  
  margin-top: 48px;

  opacity: 0.2;
  color: #A4AAB9;;
  background-color: #A4AAB9;
  width: 16px;
  height: 16px;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #EDEEF2;
  background-color: #EDEEF2;
}
