:root {
    --media-1400: 1400px;
    --media-1200: 1200;
    --media-1024: 1024;
    --media-920: 920;
    --media-800: 800;
    --media-720: 720;
    --media-600: 600;
    --media-500: 500;
    --media-400: 400;
}