.page-cart-team {
	padding: 75px 0 126px 0;
	color: #fff;
	position: relative;
}
.page-cart-team__container {
}
.page-cart-item__body {
	background: rgba(21, 25, 31, 0.8);	
}

.teamCart__title-h4 {
	font-weight: 900;
	font-size: 37px;
}

.teamCart {
	padding: 50px 100px;
}   

.teamCart__title-box {
	/* margin-bottom: 10px; */
}
.teamCart__title {
	margin: 0 auto;
	width: fit-content;
	text-align: center;
	margin-bottom: 1em;
}


.teamCart__inner {
	/* padding-bottom: 177px; */
	font-family: main;
	font-size: 32px;
	line-height: calc(32 / 32 * 100%);

}
.teamCart__item {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
	
}
.teamCart__team-name {
	grid-column: 1;
}

.teamCart__members {
	grid-column: 2;
	grid-row: 1/3;
}
.teamCart__list {
}

.teamCart__list-item:not(:last-child) {
	margin-bottom: 8px;
}


.teamCart__captain {
}
.teamCart__next-station {
	grid-column: 1/3;
	
}
.teamCart__invite-link-box {
	display: flex;
	align-items: center;
	gap: 36px;
}
.teamCart__invite-link {
	grid-column: 1/3;
}
.teamCart__link {
	font-size: 25px;
	display: block;
	border: 3px solid;
	
	
	padding: 12px 21px;
	box-shadow: 2px 4px 0px #000000;
	/* background: #F3F3F3; */
	max-width: 502px;
	overflow: hidden;
	color: #fff;
	text-overflow: ellipsis;
}
.teamCart__btn-invite {
	max-width: 207px;
	font-size: 16px;
	line-height: calc(27 / 16 * 100%);
}


@media(max-width: 800px) { 
	.teamCart__title {
		font-size: 30px;
	}

	.teamCart {
		border: 5px solid;
		/* border-image-source: linear-gradient(90deg, #F45F89 0%, #8D0B93 50%, #321575 100%); */
		border-image-slice: 1;
	} 

	.teamCart__inner {
		padding: 0 8px;
		padding-bottom: 56px;

		font-size: 30px;
	}
	.teamCart__item {
		grid-template-columns: 1fr;
	}

	.teamCart__team-name {
		grid-column: 1;
		grid-row: 1;
	}
	
	.teamCart__members {
		grid-column: 1;
		grid-row: 3;
	}
	
	.teamCart__captain {
		grid-column: 1;
		grid-row: 2;
	}

	.teamCart__next-station {
		grid-column: 1;
		
	}

	.teamCart__invite-link {
		grid-column: 1;
	}
	.teamCart__invite-link-box {
		display: block;
	}
	.teamCart__link {
		margin-bottom: 24px;
	}	
	.teamCart__btn-invite {
		max-width: none;
	}

}