.page-cart-team {
	padding: 75px 0 126px 0;
}
.page-cart-team__container {
}
.page-cart-item__body {
}


.teamCart {
	border: 10px solid;
	border-image-source: linear-gradient(90deg, #F45F89 0%, #8D0B93 50%, #321575 100%);
	border-image-slice: 1;
	background-color: #fff;
}   

.teamCart__title-box {
	margin: 72px 0 52px 0;
	background: linear-gradient(90deg, #F45F89 0%, #8D0B93 50%, #321575 100%);
	padding: 8px 0 8px 0 ;
}
.teamCart__title {
	margin: 0 auto;
	width: fit-content;
	text-align: center;
}


.teamCart__inner {
	padding: 0 105px;
	padding-bottom: 177px;


	font-family: 'Pixel Font7';
	font-size: 35px;
	line-height: calc(35 / 35 * 100%);

   
}
.teamCart__item {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px
}
.teamCart__team-name {
	grid-column: 1;
}
.teamCart__title-h4 {

}

.teamCart__members {
	grid-column: 2;
	grid-row: 1/3;
}
.teamCart__list {
}

.teamCart__list-item:not(:last-child) {
	margin-bottom: 8px;
}


.teamCart__captain {
}
.teamCart__next-station {
	grid-column: 1/3;
	
}
.teamCart__invite-link-box {
	display: flex;
	align-items: center;
	gap: 36px;
}
.teamCart__invite-link {
	grid-column: 1/3;
}
.teamCart__link {
	font-size: 25px;
	display: block;
	border: 3px solid;
	border-image-source: linear-gradient(90deg, #F45F89 0%, #8D0B93 50%, #321575 100%);
	border-image-slice: 1;
	padding: 12px 21px;
	box-shadow: 2px 4px 0px #000000;
	background: #F3F3F3;
	max-width: 502px;
	overflow: hidden;
	
	text-overflow: ellipsis;
}
.teamCart__btn-invite {
	max-width: 207px;
	font-size: 16px;
	/* line-height: calc(27 / 16 * 100%); */
}


@media(max-width: 800px) { 

	.teamCart__title {
		font-size: 30px;
	}

	.teamCart {
		border: 5px solid;
		border-image-source: linear-gradient(90deg, #F45F89 0%, #8D0B93 50%, #321575 100%);
		border-image-slice: 1;
	} 

	.teamCart__inner {
		padding: 0 8px;
		padding-bottom: 56px;

		font-size: 30px;
	}
	.teamCart__item {
		grid-template-columns: 1fr;
	}

	.teamCart__team-name {
		grid-column: 1;
		grid-row: 1;
	}
	
	.teamCart__members {
		grid-column: 1;
		grid-row: 3;
	}
	
	.teamCart__captain {
		grid-column: 1;
		grid-row: 2;
	}

	.teamCart__next-station {
		grid-column: 1;
		
	}

	.teamCart__invite-link {
		grid-column: 1;
	}
	.teamCart__invite-link-box {
		display: block;
	}
	.teamCart__link {
		margin-bottom: 24px;
	}	
	.teamCart__btn-invite {
		max-width: none;
	}

}