.gradientBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background: #030306;
	border: 5px solid #FFFFFF;
	box-shadow: 2px 4px 0px #000000;
	font-family: main;
	color: #fff;
	transition: all 0.2s ease-out;
	padding: 16px 0; 
	width: 100%;
}

.gradientBtn:hover {
	background: #564B9C;
}