.burger {
	/* display: none; */
	z-index: 99;
	width: 60px;
	height: 22px;
	cursor: pointer;
	position: relative;
}
.burger__line, .burger__line::before, .burger__line::after {
	width: 100%;
	position: absolute;
	height: 4px;
	display: block;
	/* background: #EDEEF2; */
	
	top: 50%;
	transition: all 0.25s ease 0s;
}

.burger__line::before {
	content: '';
	top: -10px;
}

.burger__line::after {
	content: '';
	top: 10px;
}