.header {
  padding: 38px 0 38px 0;
  background: #030306;
}
.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  max-width: 105px;
  max-height: 67px;

  cursor: pointer;
}

.header__burger {
  display: none;
}
.menu {
  flex: 1 1 100%;
}
.menu__list {
  display: flex;
  gap: 42px;
  justify-content: flex-end;
}
.menu__item {
  position: relative;
  
  display: flex;
  align-items: center;
  transition: all 0.25s ease-out;
  
}

.menu__item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 5px;
  background-color: #EDEEF2;
  
  transform-origin: bottom right;
  transform: scaleX(0);
  transform-origin: bottom right;

}

.menu__item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu__link {
  cursor: pointer;
  font-family: main;
  font-size: 32px;
  width: 700;
  line-height: calc(31 / 18 * 100%);
  color: #edeef2;
}

@media (max-width: 800px) {
  .header {
    padding: 24px 0;
  }
  .header__burger {
    display: block;
  }

  .menu__body {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 2;

    background-color: #030306;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.5s ease 0s;
  }
   .active-menu.menu__body{
    right: 0;
  }

  .menu__list {
    flex-direction: column;
    align-items: center;
  }
  .menu__link {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 12px 0;
  }
}
