@font-face {
    font-family: 'progresspixel';
    src: local('progresspixel'), 
        url('../src/fonts/progresspixel-bold.woff2') format('woff2'),
        url('../src/fonts/progresspixel-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}