/*welcome section*/

.welcome {
    padding: 100px 0 170px 0;
    position: relative;
	overflow: hidden;
}
.welcome__bg {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: -1;
}

.welcome__title {
    max-width: 760px;
    margin-bottom: 85px;
}
.welcome__list {
    max-width: 360px;
    margin-bottom: 124px;
}

/* maybe переделать логику обертки для белой кнопки */
.welcome__item {
    font-family: 'Pixel Font7';
    font-size: 40px;
    line-height: calc(40 / 40 * 100%);
    color: #fff;
    position: relative;
    padding-left: 68px;
}

.whiteBtn  {
    padding-left: 3px;
}

.welcome__item .whiteBtn__inner {
    padding-left: 68px;
}

.welcome__item::before {
    content: '';
    position: absolute;
    height: 23px;
    width: 23px;
    background: linear-gradient(90deg, #F45F89 0%, #8D0B93 50%, #321575 100%);
    left: 19px;
    top: 50%;
    transform: translateY(-50%);
}

.welcome__item:not(:last-child) {
    margin-bottom: 20px;
}
.welcome__btn {
    padding: 24px 64px 24px 64px; 
    font-size: 30px;
    line-height: (51 / 30 * 100%);
}

/* About section*/

.about-project {
	padding: 100px 0 170px 0;
}

.about-project__title {
	margin: 0 0 60px 0;
}

.about-project__text {
	font-family: 'Pixel Font7';
	font-size: 26px;
	line-height: calc(36 / 26 * 100%);
	color: #1A1B56;
	font-weight: 250;
	margin-bottom: 50px;
}

.about-project__gallery {

}

/* How to play section */

.how-to-play {
	padding: 0px 0 170px 0;
}
.how-to-play__container {
}

.how-to-plat__title {
	margin: 0 0 68px 0;
}

.how-to-play__cart-step:nth-child(even) {
	transform: translateX(14vw);
}
.how-to-play__cart-step:nth-child(even) .cart-step__box-text {
	max-width: 800px;
}

/* Dates section*/

.dates {
	padding: 0 0 170px 0;
}
.dates__container {
}

.datas__title {
	margin: 0 auto;
	margin-bottom: 60px;
	max-width: fit-content;
	
}

.dates__content {
	display: flex;
	justify-content: space-around;
}

/* Start Section */
.call-to-action {
	padding: 0 0 170px 0;
}
.call-to-action__container {
}

.call-to-action__title {
	max-width: fit-content;
	margin: 0 auto;
	margin-bottom: 116px;
}

.call-to-action__inner {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Contacts */

.contacts {
	padding-bottom: 70px;
}
.contacts__text {
	margin-right: 30px;

	font-family: 'Pixel Font7';
	font-weight: 250;
	font-size: 40px;
	line-height: calc(40 / 40 * 100%);
	color: #1A1B56;	
}

.contacts__link {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.contactas__img {
	position: relative;
	width: 56px;
	height: 56px;
}